<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="list-group">
      <div class="list-group-item">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Nombre de compa&ntilde;ia</th>
                <th>Nombre de contacto</th>
                <th>Estado</th>
                <th>Telefono</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of data" class="contactTable">
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.contactName}}</td>
                <td>{{item.state}}</td>
                <td>{{item.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="list-group-item">
        <div class=" well well-sm clearfix">
          <button type="button" class="btn btn-default pull-right" [routerLink] = "['/registrarcliente']">Registrar Cliente</button>
        </div>
      </div>
  </div>
</div>
